$hoverColor: #28A745;
$fontColor: #222;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* whatsapp */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:40px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.my-float{
	margin-top:12px;
}
/* div del header */
.encabezado{
    height: 90px;
    box-shadow: 5px 2px 10px $fontColor;
    display: grid;
    grid-template-columns: 30% 55% 15%;
    justify-items: center;
    align-items: center;
    width: 99vw;
    margin: auto;
}
.encabezado__titulo-title{
    font-size: 55px;
    padding-left: 30px;
    color:$hoverColor;
    justify-self: flex-start;
}
.encabezado__titulo:hover{
    text-decoration: none;
}
/* barra de navegacion */
.menu{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    list-style: none;
    width: 85%;
    margin-top: 20px;
}
.menu__boton{
    text-decoration: none;
}
.menu__boton, .menu__boton-opcion, .hamburg{
    display: inline-block;
    background: #fff;
    color: $fontColor;
}
.menu__boton:hover, .hamburg:hover{
    transform: scale(1.1,1.1);
    text-decoration: none;
    color:$hoverColor;
}
.menu__boton-opcion:hover{
    text-decoration: none;
    color: $hoverColor;
}
.facebook, .instagram, .cart{
    color: $fontColor;
}
.facebook:hover, .instagram:hover, .cart:hover{
    transform: scale(1.3,1.3);
    transition: all 0.5s;
    color: $hoverColor;
}
.encabezado__enlaces{
    display: flex;
    justify-content: space-evenly;
    width: 140px;
}
.menu-mobile{
    float: left;
    display: none;
}
.menu-mobile__boton, .menu-mobile__boton-opcion{
    color: $fontColor;
}
.menu-mobile__boton:hover, .menu-mobile__boton-opcion:hover{
    color:$hoverColor;
    text-decoration: none;
}
.div-hamburg{
    display: flex;
    justify-content: space-between;
}
/*-----------------------------------------------------------------------------------*/
/* footer */
.footer{
    background: #C7C5C5;
}
.epick{
    color:$fontColor;
    text-decoration: underline;
}
.epick:hover{
    color:$hoverColor;
}
.encabezado__enlaces-footer{
    display: none;
    width: 200px;
    justify-content: space-around;
}
.footer-nav{
    color: $fontColor;
}
.footer-nav:hover{
    color:$hoverColor;
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------*/
/* seccion INDEX */
.body{
    background:linear-gradient(to bottom, white, #C7C5C5);
}
.carousel-width{
    width:50vw;
    margin: auto;
}
/*-----------------------------------------------------------------------------------*/
/* seccion productos*/
.bloqueContenedor{
    width: 90vw;
    margin: auto;
}
.containerRemera, .containerPijama, .containerCinturon, .containerBuzo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 30px;
    justify-items: center;
    margin: auto;
    justify-content: center;
}
.containerItem{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-items: center;
    align-items: center;
}
.imagenRemera{
    width: 200px;
}
.imagenPijama, .imagenBuzo{
    width: 200px;
    height: 295px;
    object-fit: cover;
}
.containerInfo{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    width: auto;
    line-height: 20px;
    margin: 5px;
}
.tituloItem{
    font-size: 15px;
    font-weight: 500;
}
.precio{
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    margin-top: 5px;
}
.inform{
    color:$fontColor;
}
.inform:hover{
    text-decoration: underline;
    color:$hoverColor;
}
.emergente{
    display: flex;
    justify-content: center;
}
.remera--emergente, .pijama--emergente, .buzo--emergente{
    width: 490px;
}
/*-----------------------------------------------------------------------------------*/

/*Preguntas Frecuentes*/
.faq__title{
    color: $fontColor;
    font-weight: 600;
}
.faq__title:hover{
    color: $hoverColor;
}
.faq__respuesta{
    color: $fontColor;
}
/*-----------------------------------------------------------------------------------*/
/* seccion de contacto */
.formulario{
    width: 50%;
    float: right;
}
.msj{
    vertical-align: top;
}
.check{
    display: block;
}
[type=submit]{
    margin-top: 30px;
    margin: 30px;
    padding: 5px 30px;
    background-color: #fff;
    border-radius: 5px;
}
[type=submit]{
    color: #469401;
}
[type=submit]:hover{
    background-color: #55a80c;
    color: #fff;
}
[type=submit]:active{
    text-decoration: underline;
}
/*-----------------------------------------------------------------------------------*/
/* Media queries */
@media only screen and (max-width: 1200px){
    .encabezado{
        grid-template-columns: 35vw 64vw;
    }
    .encabezado__enlaces{
        display: none;
    }
    .encabezado__enlaces-footer{
        display:inline-block;
    }
}
@media only screen and (max-width: 992px){
    .encabezado{
        grid-template-columns: 35vw 64vw;
        justify-content: space-evenly;
    }
}
@media only screen and (max-width: 900px){
    .encabezado{
        grid-template-columns: 99vw;
        grid-template-rows: 1fr 1fr;
    }
    .encabezado__titulo-title{
        font-size:40px;
    }
    .menu{
        margin: 0;
        padding: 0;
    }
    .containerRemera, .containerPijama, .containerCinturon, .containerBuzo{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-row-gap: 30px;
        justify-items: center;
        margin: auto;
        justify-content: center;
        }
    .bloqueContenedor{
        width: 95vw;
    }
    .imagenRemera{
        width: 175px;
    }
    .imagenPijama, .imagenBuzo{
        width: 175px;
        height: 260px;
        object-fit: cover;
    }
}
@media only screen and (max-width: 600px){
    .menu{
        display: none;
    }
    .menu-mobile{
        display: inline-block;
        justify-self: center;
        width: auto;
    }
    .menu__boton:hover{
        padding: 0;
        color: $hoverColor;
        transform: none;
    }
    .containerRemera, .containerPijama, .containerCinturon, .containerBuzo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    justify-items: center;
    margin: auto;
    justify-content: center;
    }
    .imagenRemera{
        width: 200px;
    }
    .imagenPijama, .imagenBuzo{
        width: 200px;
        height: 295px;
        object-fit: cover;
    }
    .about_us{
        grid-template-columns: 95%;
        margin: auto;
        grid-template-rows: 1fr 1fr;
    }
    .carousel-width{
        width:90vw;
        margin: auto;
    }
}
@media only screen and (max-width:530px){
    .remera--emergente, .pijama--emergente, .buzo--emergente{
        width: 300px;
    }
    .formulario{
        width: 100vw;
    }
    .float{
        width:30px;
        height:30px;
        bottom:20px;
        right:20px;
        border-radius:50%;
        font-size:20px;
        box-shadow: 2px 2px 3px #999;
        margin-bottom: 30px;
        margin-right: 30px;
    }
    .my-float{
        margin-top: 0px;
    }
}
@media only screen and (max-width:450px){
    .menu{
        display: none;
    }
    .menu-mobile{
        display: inline-block;
        justify-self: center;
        width: auto;
    }
    .menu__boton:hover{
        padding: 0;
        color: $hoverColor;
        transform: none;
    }
    .containerRemera, .containerPijama, .containerCinturon, .containerBuzo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    justify-items: center;
    margin: auto;
    justify-content: center;
    }
    .imagenRemera{
        width: 150px;
    }
    .imagenPijama, .imagenBuzo{
        width: 150px;
        height: 220px;
        object-fit: cover;
    }
    .remera--emergente, .pijama--emergente, .buzo--emergente{
        width: 250px;
    }
}
@media only screen and (max-width:350px){
    .encabezado__titulo-title{
        font-size: 30px;
    }
    .menu{
        display: none;
    }
    .menu-mobile{
        display: inline-block;
        justify-self: center;
        width: auto;
    }
    .menu__boton:hover{
        padding: 0;
        color: $hoverColor;
        transform: none;
    }
    .containerRemera, .containerPijama, .containerCinturon, .containerBuzo{
    display: grid;
    grid-template-columns:1fr;
    }
    .imagenRemera{
        width:100%;
    }
    .imagenPijama, .imagenBuzo{
        width:100%;
        height: 250px;
        object-fit: cover;
    }
    .remera--emergente, .pijama--emergente, .buzo--emergente{
        width:100%;
    }
    .mapa{
        width: 80vw;
    }
}